@font-face { font-family: 'Cafe24Oneprettynight'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.1/Cafe24Oneprettynight.woff') format('woff'); font-weight: normal; font-style: normal; }
body, div, span, p, input, textarea, ul, ol, li, a, table, th, td, h1, h2, h3, h4, h5, h6, pre, code {
    font-family: 'Cafe24Oneprettynight';	
}

.container {
	width: 800px;
}

.content {
	min-height: 500px;
	
}

.footer {
	border-top: 1px dashed #ddd;
	margin-top: 10px;
}

.table td {
	text-align: center;
	vertical-align: middle;
}
.table th {
	text-align: center;
	vertical-align: middle;
	background-color:#eee;		
}







